/* body {
    width: 80px;
    height: 40px;
    padding: 10px;
    position: relative;
  }
  
  #screenshot-container {
    max-width: 1000%;
    max-height: 100%;
    border: 1px solid black;
    overflow: auto;
    z-index: 999999; 
  }
  .word-overlay-container {
    position: absolute;
    background-color: rgba(255, 0, 0, );
    color: black;
    font-size: 12px;
    padding: 2px;
    
   z-index: 999999;
  }
   */